<h1>Editing Goal</h1>

<%= render 'form', goal: @goal %>

List of Deposits:
<ul>
<% @goal.deposit.each do |goal| %>
  <li><%= deposit.which_goal %></li>
  <% end %>
</ul>

<hr/>
<h2>Make a new deposit for <%= @goal.goal_name %></h2>

<h1>New Deposit</h1>

<%= form_with(model: @deposit, local: true) do |form| %>
    <div class="field">
      <%= form.label :which_goal %>
      <%= form.text_field :which_goal %>
    </div>
  
    <div class="field">
      <%= form.label :goal_id %>
      <%= form.text_field :goal_id %>
    </div>
  
    <div class="actions">
      <%= form.submit %>
    </div>
<% end %>

<%= link_to 'Show', @goal %> |
<%= link_to 'Back', goals_path %>
